body{
    background-color: #1a1a1d;
}


.login{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "Uni";
    text-align: left;
    font-size: 5vh;
    width: 80%;
    color: white;
}

.login input[type=password]{
    border: none;
    background-color: #1a1a1d;
    border-bottom: 1px dashed white;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 5vh;
    font-family: "Uni";
    font-style: italic;
    color: white;
}